@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-color: #ffffff;
  margin: 0 auto;
  width: 100%;
  min-height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .iframe-border {
    border-radius: 16px;
  }
  .iframe-wrap {
    position: relative;
    width: 100%;
    height: 0;
  }
  .iframe-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
  .iframe-modal {
    padding-bottom: 56.25%;
  }
  .iframe-list {
    padding-bottom: 18.5%;
  }
}
